<title>Axel Wales</title>
<script type="text/javascript" src="/js/vendor/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/js/vendor/jquery-ui/jquery-ui.js"></script>
<script type="text/javascript" src="/js/vendor/angular/angular.js"></script>
<script type="text/javascript" src="/js/vendor/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/vendor/tinymce/tinymce.js"></script>
<script type="text/javascript" src="/js/vendor/angular-ui-tinymce/src/tinymce.js"></script>
<script type="text/javascript" src="/js/vendor/angular-sanitize/angular-sanitize.js"></script>

<link rel="stylesheet" type="text/css" href="/js/vendor/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/js/vendor/jquery-ui/themes/base/accordion.css">

<script type="text/javascript" src="/js/axelwales/angular/app.module.js"></script>

<script type="text/javascript" src="/js/axelwales/angular/editable/tinymce.module.js"></script>
<script type="text/javascript" src="/js/axelwales/angular/editable/tinymce.directive.js"></script>

<script type="text/javascript" src="/js/axelwales/angular/editable/editable-content.module.js"></script>
<script type="text/javascript" src="/js/axelwales/angular/editable/editable-content.directive.js"></script>

<script type="text/javascript" src="/js/axelwales/angular/editable/editable-form.module.js"></script>
<script type="text/javascript" src="/js/axelwales/angular/editable/editable-form.component.js"></script>

<script type="text/javascript" src="/js/axelwales/angular/editable/editable-save.module.js"></script>
<script type="text/javascript" src="/js/axelwales/angular/editable/editable-save.component.js"></script>

<script type="text/javascript" src="/js/axelwales/angular/expandable/expandable-list.module.js"></script>
<script type="text/javascript" src="/js/axelwales/angular/expandable/expandable-list.directive.js"></script>

<script type="text/javascript" src="/js/axelwales/angular/expandable/expandable-item.module.js"></script>
<script type="text/javascript" src="/js/axelwales/angular/expandable/expandable-item.directive.js"></script>

<script type="text/javascript" src="/js/axelwales/angular/project/project-list.module.js"></script>
<script type="text/javascript" src="/js/axelwales/angular/project/project-list.component.js"></script>

<script type="text/javascript" src="/js/axelwales/angular/project/project.module.js"></script>
<script type="text/javascript" src="/js/axelwales/angular/project/project.component.js"></script>

<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
